
# NPM
node_modules/
package-lock.json

# Obsidian
.obsidian/
data.json
*.tsbuildinfo

# System
.DS_Store

# Build Artifacts (Recommended to exclude, but some prefer to track them)
# main.js
# styles.css
